// Colour themes

@mixin contact-icons($fg, $bg, $pri)
  & .contact-icons a
    // filter: drop-shadow(0 0 3px rgba($pri, 0.5))
    color: $fg
    &:hover, &:focus
      filter: drop-shadow(0 0 3px rgba($pri, 0.5))
      color: $pri

@mixin themeable($foreground, $background, $primary, $secondary)
  $light-shadow: mix($foreground, $background, 25%)
  $light-grey: #a5acb2
  $shadow: mix($foreground, $background, 60%)
  $container-background: rgba($foreground, 10%)
  $content-foreground: mix($foreground, $background, 80%)

  html &,
  body &
    background: $background
    color: $foreground

  a
    color: $primary
  a:hover, a:active
    color: saturate($primary, 50%)

  p
    color: $content-foreground

  #main-nav
    border-bottom: 0.5px solid $primary
    background: $background

  .nav-button
    &:focus, &:hover
      background-color: rgba($primary, 0.3)
      border-bottom: 2px solid $primary


  .section-title
    color: $primary

  .subtitle
    background: $secondary
    background: linear-gradient(45deg, $secondary,rgba($secondary, 50%))
    color: $foreground

  .welcome-msg p
    color: $foreground

  .about-me-contents, .skills-chart, .project-card
    background: rgba(#fff, 0.2)
    border: 0.5px solid $shadow

  .about-me-contents
    & em
      font-style: normal
      color: $primary
    & strong
      color: $foreground


  .skills-chart-subheading
    color: $primary

  .skillbar svg
    color: $foreground

  .empty-bar
    background: rgba($light-grey, 0.85)

  .filled-bar
    background: $primary
    color: $background

  .project-title
    background: $primary
    color: $background

  .theme-toggle-button
    background: transparent
    & .theme-button-icon
      background: $foreground
      color: $background
      box-shadow: 0 0 10px 0px $foreground

  .project-techstack label
    color: $primary

  .project-techstack-tags
    @for $i from 1 through 6
      & span:nth-child(6n+#{$i})
        background-color: rgba(saturate(adjust-hue($primary, calc(108deg * ($i - 2))), 0.5), 0.5)

  .project-img-wrapper small
    background: rgba($secondary, 0.5)

  a.button
    color: $background
    background: $primary
    box-shadow: 1px 1px 3px $shadow
    transition: 0.2s ease-in
    &:focus, &:hover
      filter: brightness(1.2)
      box-shadow: 1px 1px 3px $primary


  section#contact
    background: $foreground
    color: $background
    @include contact-icons($fg: $background, $bg: $foreground, $pri: $secondary)
    & .section-title
      color: $secondary

  // carousel css override
  #projects .carousel
    .control-dots .dot
      background: $primary
      box-shadow: none
    .carousel-status
      text-shadow: 1px 1px 1px $light-shadow
    .arrow-button
      fill: $primary
      border: 0.5px $light-shadow solid
      background: rgba($background, 0.2)
      transition: 0.2s ease
      &:hover, &:focus
        opacity: 1
        background: rgba($background, 0.6)
        outline: 2px $primary solid
        box-shadow: 0 0 1px 2px $primary


#app[data-theme="light"]
  @include themeable($foreground: #11191f, $background: #fafafa, $primary: #36c, $secondary: #dd3)
  --nimlang-logo-color: #11191f
  section#about-me, section#skills, section#projects
    background: url("./assets/pic/bright_squares.png") repeat 0 0

#app[data-theme="dark"]
  @include themeable($foreground: #fafafa, $background: #11191f, $primary: #dd3, $secondary: #36c)
  --nimlang-logo-color: #ffe953
  section#about-me, section#skills, section#projects
    background: url("./assets/pic/random_grey_variations_customized.png") repeat 0 0
