// Configurations

@use 'assets/style/colour-themes'

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap')
// @import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')

$body-font: "Titillium Web", "Helvetica Neue", arial, sans-serif
$code-font: "Source Code Pro", monospace

$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

:root
  @media (min-width: $sm)
    font-size: 17px
  @media (min-width: $md)
    font-size: 18px
  @media (min-width: $lg)
    font-size: 19px
  @media (min-width: $xl)
    font-size: 20px


// Global settings

html,
body
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  font-family: $body-font
  font-weight: 400
  font-size: 1em
  line-height: 1.6
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*
  box-sizing: border-box

ul, li
  list-style: none
  margin: 0
  padding: 0

a
  text-decoration: none

h1,h2,h3,p,span,div
  padding: 0
  margin: 0

h1,h2,h3
  font-weight: 700


section
  padding: 1rem

.section-title
  font-size: 2rem
  padding: 0 0.5rem
  font-weight: 700

.subtitle
  font-size: 1.4rem
  padding: 0 0.5rem
  // font-weight: 700

.icon
  height: 1em
  width: 1em

// Navbar

#main-nav
  top: 0
  height: 3em
  width: 100vw
  display: flex
  flex-direction: row
  z-index: 10
  @media screen and (min-width: $lg)
    padding: 0 1em

#nav-menu
  display: flex
  width: 100%
  height: 100%
  justify-content: space-evenly
  align-items: stretch

.nav-item
  display: inline-flex
  align-items: center
  padding: 0
  margin: 0
  flex: 0 0

.nav-button
  display: inline-flex
  align-items: center
  height: 100%

.nav-button-text
  font-family: $code-font
  white-space: nowrap
  text-align: center
  min-width: fit-content
  @media screen and (min-width: $md)
    min-width: 5em

#nav-contact-icons
  display: none
  position: relative
  @media screen and (min-width: $lg)
    display: inline-flex
    align-items: center
  & .contact-icons
    font-size: 1.2rem

// Sections

#sections-wrapper
  height: calc(100vh - 3em)
  overflow-y: scroll


.container
  margin-left: auto
  margin-right: auto
  @media screen and (min-width: $sm)
    max-width: calc($sm - 2em)
  @media screen and (min-width: $md)
    max-width: calc($md - 4em)
  @media screen and (min-width: $lg)
    max-width: calc($lg - 6em)
  @media screen and (min-width: $xl)
    max-width: calc($xl - 8em)


// Intro

section#intro
  height: 100vh
  padding-top: 3em
  font-family: $code-font

  display: flex
  justify-content: center
  align-items: center

  animation: focus-in 2s ease-in forwards

@keyframes focus-in
  from
    filter: blur(0.5rem) opacity(0)
  to
    filter: none

section#intro .welcome-msg
  font-size: 1.8rem
  font-weight: 700
  text-align: left
  position: relative
  bottom: 4rem
  text-indent: -1em
  max-width: 90%
  left: 1rem
  margin-right: 1rem

section#intro .welcome-msg p
  margin: 0
  padding: 0

section#intro .welcome-msg p::before
  display: inline-block
  content: "> "
  width: 1em
  text-indent: 0

section#intro .welcome-msg p:last-child::after
  display: inline
  content: "|"
  animation: blink 0.5s linear infinite alternate

// utilities

@keyframes blink
  from
    opacity: 1
  to
    opacity: 0

.typewriter-cursor
  animation: blink 0.5s linear infinite alternate

.theme-toggle-button
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center
  position: fixed
  bottom: 2rem
  right: 2rem
  z-index: 99
  & .theme-button-icon
    display: flex
    justify-content: flex-start
    align-items: center
    line-height: 1
    padding: 0.5rem
    gap: 0.5em
    border-radius: 2rem
    height: 2rem
    width: 2rem
    opacity: 0.7
  & svg.icon
    font-size: 1rem
    flex: 0 0 1rem
  & .theme-button-text
    display: inline-block
    order: 2
    flex-shrink: 1
    overflow: hidden
    width: 0%
    white-space: nowrap
    user-select: none
  &:hover, &:focus
    & svg.icon
      transform: rotate(-360deg)
      transition: transform 1s ease-in-out
    & .theme-button-icon
      opacity: 1
      justify-content: flex-end
      width: fit-content
    & .theme-button-text
      width: 100%
      transition: width 1s ease-in-out

.tooltip
  position: fixed
  top: 50px
  left: 0px
  width: fit-content
  padding: 0.5em
  border-radius: 0.5em

  text-align: center
  white-space: nowrap
  font-size: 0.5em
  background: #0007
  color: white
  transform: translate(calc(-50% + 1em))
  transform-origin: center
  transition: all 0.1s linear 0s

  &:hover, &:focus
    filter: none



// About me

.about-me-contents
  margin-top: 1rem
  padding: 1rem

.about-me-contents p
  margin: 1rem 0

.about-me-contents p:first-child
  margin-top: 0

#about-me
  // background: url("./assets/pic/bright_squares.png") repeat 0 0
  background: url("./assets/pic/random_grey_variations.png") repeat 0 0

// Skills
.skills-chart
  display: block
  margin: 1rem 0
  padding: 1rem

.skills-chart-subheading
  font-size: 1.4em
  margin-top: 0
  margin-bottom: 0
  margin-left: 0.5rem

.skillbar-wrapper
  display: block
  @media screen and (min-width: $lg)
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 2em

.skillbar
  margin: 0.5em
  @media screen and (min-width: $md)
    display: grid
    grid-template-columns: 1.5em 7em auto
    align-items: center

.skillbar label
  margin: 0 1em
  white-space: nowrap

.empty-bar
  display: inline-block
  width: 100%
  border-radius: 1em

.filled-bar
  display: inline-block
  border-radius: 1em 0 0 1em

  & small
    margin-left: 1em
    white-space: nowrap



// Projects

.project-card
  padding: 1rem
  margin: 1rem
  height: calc(100% - 1em)

  display: flex
  flex-direction: column
  align-items: stretch
  gap: 0.5rem
  @media screen and (min-width: $lg)
    display: grid
    grid-template-columns: 2fr 1fr

.project-text-wrapper
  display: flex
  flex-direction: column
  gap: 0.5rem


.project-title
  text-align: center
  font-size: 1.2rem

.project-description
  text-align: left

.project-techstack label
  font-weight: 700

.project-techstack-tags
  display: inline-block

.project-techstack-tags span
  margin: 0.2rem
  padding: 0 0.2rem

.project-img
  width: 100%
  height: auto
  max-width: 95vw

a.button
  display: inline-block
  border-radius: 5px
  padding: 0.5rem
  margin: 0 0.5rem
  width: fit-content

.project-img-wrapper
  order: -1
  & a
    display: block
  & small
    display: inline-block
    margin: 0.3rem 0
  @media screen and (min-width: $lg)
    order: 1



// carousel css override
#projects .carousel
  padding-top: 2em
  .arrow-button
    position: absolute
    top: 20%
    height: 2.75em
    width: 2.75em
    border-radius: 50%
    opacity: 0.5
    cursor: pointer
    z-index: 2

  .arrow-button-prev
    left: 0.5em
  .arrow-button-next
    right: 0.5em
    & .arrow
      transform: rotate(180deg) translate(-100%, -100%)

  .control-dots
    position: absolute
    height: 1.8em
    top: 0

  .slide
    transition: filter 0.3s ease-out
  .slide:not(.selected)
    filter: blur(1px) opacity(0.5) brightness(0.8)

// Contact

section#contact
  min-height: 40vh
  .contact-body
    max-width: 70vw
    margin: 1rem auto
  .contact-icons
    margin-top: 1.5rem

.contact-icons
  display: flex
  font-size: 1.5rem
  gap: 1.5rem
  transition: 0.5s ease-in

.contact-icons .icon
  &:hover, &:focus
    transform: scale(1.2)

