@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap')
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')

$background: #fafafa
$foreground: #11191F

html,
body
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  background: $background
  font-family: "Titillium Web", "Helvetica Neue", arial, sans-serif
  font-weight: 400
  // font-size: calc(1em + 0.5vmin)
  color: $foreground
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*
  box-sizing: border-box

ul, li
  list-style: none

#app
  text-align: center

section
  min-height: 100vh
  border: 1px solid #444

#main-nav
  position: fixed
  top: 0
  height: 3em
  width: 100vw

#nav-menu
  display: flex
  width: 100%
  justify-content: space-evenly

.nav-button
  font-family: "SourceCode Pro", monospace

.flex
  display: flex

.flex-column
  display: flex
  flex-direction: column

section#intro
  padding-top: 3em
